COMPOSE_PROJECT_NAME=smartestate
DB_NAME=smartestate_db
DB_USER=smartestate_user
DB_PASSWORD=smartestate_pwd
DB_ROOT_PASSWORD=smartestate_root
JWT_SECRET=change_me_to_a_long_random_string
FRONTEND_PORT=18412
BACKEND_PORT=19412
DB_PORT=3306
